:root {
    --font-Sans: 'Public Sans', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 40px;
    background: #143C3C;
    height: 57px;
    width: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.btn:hover {
    opacity: .9;
}

/* Header layout */
.header {
    position: sticky;
    padding-top: 15px;
    top: -15px;
    background: #fff;
    z-index: 999;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.menu::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 1140px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    position: absolute;
    bottom: 0;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    padding: 0 19px;
    color: #575D5E;
    transition: .25s;
}
.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 21px;
}

.navbar__link:hover {
    color: #152427;
}


.bars {
    display: none;
    margin-left: 30px;
}

.bars__close {
    display: none;
}


.drawer {
    display: none;
}

.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 22px;
}

/* Hero */
.hero__body {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 87px;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px;
    color: #152427;
}

.hero__left {
    width: 404px;
}

.hero__desc {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
}

.hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}


.action--item {
    position: relative;
}


.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img--active {
    transform: translateY(77px);
}

.video-play__container:hover  .video-play__desc {
    color: #83A17D;
}

.video-play__container:hover  .video-play__box {
    color: #143C3C;
}

.video-play__container:hover .video-play__border {
    color: #83A17D;
}

.video-play__desc {
    color: #152427;
}

.video-play__border {
    color: #143C3C;
    transition-duration: .3s;
}

.video-play__box {
    color: #83A17D;
}

.video-play__play {
    color: #fff;
}

.hero__images {
    display: flex;
    column-gap: 20px;
    padding-bottom: 77px;
    position: relative;
}

.hero__icon-1 {
    position: absolute;
    top: -40px;
    left: -185px;
    z-index: 1;
}

.hero__icon-2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -60px;
    right: 12px;
}