:root {
    --font-Sans: 'Public Sans', sans-serif;
    --primary-color: #143C3C;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 40px;
    background: #143C3C;
    height: 57px;
    width: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

.title {
    font-weight: 500;
    line-height: 26px;
    color: var(--primary-color);
}

.title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
    transform: translateY(-9px);
    margin-right: 21px;
}

.heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; 
    color: var(--primary-color);
}

.heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
    transform: translateY(-9px);
    margin-left: 14px;
}

.desc {
    color: #7D8188;
    font-weight: 500;
    line-height: 26px; 
    }

/* Header layout */
.header {
    position: sticky;
    padding-top: 15px;
    top: -15px;
    background: #fff;
    z-index: 999;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.menu::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 1140px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    position: absolute;
    bottom: 0;
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    padding: 0 19px;
    color: #575D5E;
    transition: .25s;
}
.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 21px;
}

.navbar__link:hover {
    color: var(--primary-color);
}


.bars {
    display: none;
    margin-left: 30px;
}

.bars__close {
    display: none;
}


.drawer {
    display: none;
}

.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 22px;
}

/* Hero */
.hero__body {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 87px;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px;
    color: var(--primary-color);
}

.hero__left {
    width: 404px;
}

.hero__desc {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
}

.hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}


.action--item {
    position: relative;
}


.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img--active {
    transform: translateY(77px);
}

.hero__video-play {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.hero__video-play:hover  .video-play__desc {
    color: #83A17D;
}

.hero__video-play:hover  .video-play__play {
    color: #143C3C;
}


.hero__video-play:hover .video-play__border {
    border-top-color: #83A17D;
    border-left-color: #83A17D;
    transform: rotate(135deg);
}

.video-play__border {
    width: 57px;
    height: 59px;
    border: 4px solid #143C3C;
    transition-duration: .3s;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}

.video-play__desc {
    color: var(--primary-color);
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.video-play__play {
    margin-left: 2px;
    margin-top: 5.5px;
    transform: rotate(45deg);
    color: #83A17D;
}

.hero__images {
    display: flex;
    column-gap: 20px;
    padding-bottom: 77px;
    position: relative;
}

.hero__icon-1 {
    position: absolute;
    top: -40px;
    left: -185px;
    z-index: 1;
}

.hero__icon-2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -60px;
    right: 12px;
}

/* Logo section */
.logo {
    margin-top: 42.31px;
}

.logo__list {
    display: grid;
    height: 201px;
    border-radius: 100.5px;
    background: #E2EDDF;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0 121px;
}

.logo__item {
    color: #143C3C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__google {
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__img-rectangle {
    width: 40px;
    height: 46px;
}

.logo__slack {
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__img-discord {
    width: 40px;
    height: 31px;
    margin-right: 11px;
}

.logo__agworld {
    font-size: 2.6rem;
}


.logo__riotinto {
    font-family: Sonsie One;
    font-size: 2.3rem;
}

.logo__img-heroku {
    width: 29px;
    height: 30px;   
    margin-right: 1px;
}

.logo__heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Services */
.services {
    margin-top: 106px;
}

.services__top {
    display: grid;
}

.services__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__heading {
    width: 520px;
    margin-top: 12px;
}

.services__control {
    display: flex;
    column-gap: 17px;
}

.control__box {
    width: 54px;
    height: 54px;
    background: #E2EDDF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.control__box:hover {
    cursor: pointer;
    color: #fff;
    background-color: #143C3C;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 76px;
    cursor: pointer;
} 

.services__item {
    border-radius: 20px;
    transition: .3s;
}

.services__item:hover .services__img {
    transform: scale(1.1);
}

.services__body {
    background: #fff;
    padding: 18px 24px;
    border-radius: 0 0 20px 20px;
}

.services__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__link {
    display: block;
    height: 318px;
    overflow: hidden;
    transition: 2.5s;
    border-radius: 20px 20px 0px 0px;
}

.services__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    transition: .25s;
}

.services__body-heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
    padding-top: 24px;
}

.services__body-desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
    margin-top: 18px;
    padding-bottom: 14px;
    color: #7D8188;
    width: 268px;
}

/* About */
.about {
    margin-top: 157px;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__left {
    position: relative;
}

.about__images {
    display: flex;
    column-gap: 21px;
    padding-bottom: 77px;
}

.about__icon {
    position: absolute;
}


.about__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
}

.about__img:nth-child(2) {
    transform: translateY(77px);
}

.about__icon {
    position: absolute;
    transform: rotate(12.645deg);
    z-index: 1;
}

.about__base {
    display: inline-block;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    bottom: 0;
    right: -9px;
    padding: 19px 23px 12px;
}

.about__box-images {
    display: flex;
}
 
.about__box-avatar {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #FFF;
    margin-right: -6px;
}


.about__base__heading {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px;
    font-family: var(--font-Sans);
}

.about__base__desc {
    color: #575D5E;
    font-family: var(--font-Sans);
    font-size: 1rem;
    line-height: 14px;
    margin-top: 6px;
}

.about__base-percent {
    color: var(--primary-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    font-family: var(--font-Sans);
    margin-top: 10px;
    display: inline-block;
}


.about__base-before {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about__base-box {
    position: relative;
    margin-top: 3px;
}

.about__base-loding {
    font-family: var(--font-Sans);
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px;
    display: flex;
    justify-content: end;
}


.about__base-after {
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
    top: 0;
    left: 0;
}


.about__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__box-teams {
    color: var(--primary-color);
    font-family: var(--font-Sans);
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px;
}

.about__right {
    width: 483px;
}
.about__right-heading {
    margin-top: 20px;
}

.about__right > .heading::after {
    display: none;
}

.about__right-desc {
    color: #7D8188;
    font-weight: 500;
    line-height: 26px;
    margin-top: 11px;
}

.about__right-box {
    display: flex;
    align-items: center;
    margin-top: 36px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;
}

.about__right-box-desc {
    margin-top: 0;
    width: 364px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    line-height: 24px;
}

.about__right-box-percent {
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px;
}

/* Process section */
.process {
    margin-top: 79px;
}

section.process__top {
    width: 477px;
    row-gap: 20px;
}

.process__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83A17D;
    transition: .3s;
    cursor: pointer;
}

.process__item:nth-child(1) {
    margin-top: 81px;
    height: 185px;
    position: relative;
}

.process__item:nth-child(2),
.process__item:nth-child(3) {
    height: 151px;
}

.process__item:hover {
    background-color: #E2EDDF;
    border-radius: 33px;
    border: none;
}

.process__item:hover .process__link {
    display: block;
}

.process__number {
    color: #143C3C;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 52px;
}

.process__number:nth-child(1) {
    margin-right: 64px;
    margin-left: 30px;
}

.process__number:nth-child(2) {
    margin-right: 49px;
    margin-left: 30px;
}
.process__number:nth-child(1) {
    margin-right: 47px;
    margin-left: 30px;
}

.process__heading {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}

.process__link {
    display: inline-block;
    color: #575D5E;
    font-size: 1.8rem;
    line-height: 18px;
    margin-top: 22px;
    position: relative;
    display: none;
}

.process__link::before {
    content: "";
    display: inline-block;
    width: 99px;
    height: 1px;
    background: #152427;
    position: absolute;
    bottom: 0;
}

.process__item-img {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process__item:nth-child(2) .process__box {
    margin-right: 175px;
}

.process__item:nth-child(3) .process__box {
    margin-right: 242px;
}

.process__item-desc {
    color: #7D8188;
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
}


/* Features */
.features {
    margin-top: 148px;
    background: #143C3C;
}

.features__top {
    padding-top: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__heading {
    width: 457px;
    color: #E7F9F9;
}

.features__top .heading::after {
    background:#83A17D;
}

.features__box {
    width: 590px;
}

.features__box-desc {
    width: 590px;
    color: #6A8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
}

.features__link {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    margin-right: 26px;
}

.features__link:hover {
    color: #83A17D;
}

.features__next {
    margin-top: 13px;
}

.features__bottom {
    padding-top: 65px;
    padding-bottom: 63px;
    position: relative;
}

.feature-img {
    position: absolute;
    z-index: 1;
}

.feature-img:nth-child(1) {
    top: 0;
    right: -60px;
    width: 72.033px;
    height: 72px;
    transform: rotate(176.985deg);
}

.feature-img:nth-child(2) {
    width: 410px;
    top: -90px;
    right: -60px;
}

.features__video{
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.features__dotplay {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    background: transparent;
    border: none;
}

.features__dotplay:hover {
    color: #6A8383;
    cursor: pointer;
    opacity: 1;
}

.features__dotplay:target {
    display: none;
}

.features__play {
    color: #fff;
}

.service {
    margin-top: 140px;
}


.service__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.service__top-heading {
    color: #152427;
    font-weight: 600;
    width: 520px;
    text-align: center;
    font-size: 4.2rem;
    margin: 0 auto;
    line-height: 52px;
}

.service__top-desc {
    width: 547px;
    color: #7D8188;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    margin: 20px auto 0;
}

.service__item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
    cursor: pointer;
}

.service__item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    transform: translateY(-59px);
}


.service__item-icon {
    width: 39px;
    height: 35px;
}

.service__item-heading {
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
    margin-top: 26px;
}

.service__item-desc {
    width: 286px;
    color: #7D8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
}

/* Blog */
.blog {
    margin-top: 184px;
}

.blog__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.blog__box-heading {
    width: 520px;
}

.blog__box-desc {
    width: 409px;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog__item {
    border-radius: 40px;
    transition: .3s;
}

.blog__image {
    width: 360px;
    height: 317px;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
}

.blog__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .25s;
}

.blog__item:hover .blog__img {
    transform: scale(1.1);
}

.blog__item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__body {
    padding: 26px 30px 12px 30px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
}

.blog__cta {
    width: 107px;
    height: 26px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    background: #E2EDDF;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
.blog__cta:hover {
    background: #143C3C;
    color: #fff;
}

.blog__body-heading {
    color: #143C3C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    margin-top: 13px;
    padding-bottom: 9px;
    border-bottom: 1px solid #C4C4C4;
}

.blog__item:nth-child(3) .blog__body-heading {
    padding-bottom: 40px;
}

span.blog__year {
    display: block;
    color: #575D5E;
    font-size: 1rem;
    font-weight: 500;
    line-height: 12px;
    margin-top: 12px;
    text-align: end;
}

/* Footer */
.footer {
    margin-top: 102px;
    padding-bottom: 50px;
    background: var(--primary-color);
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}

.footer__heading {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.footer__form {
    margin-top: 25px;
    width: 354px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6A8383;
}

input.footer__input {
    font-size: 2.2rem;  
    font-weight: 600;
    line-height: 1;
    background: var(--primary-color);
    border: none;
    margin-bottom: 30px;
    outline: none;
    color: #6A8383;
}

.footer__next {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 13px;
}

.footer__info {
    margin-top: 47px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icon {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FBFBFB;
    border-radius: 50%;
    cursor: pointer;
}

.footer__icon:hover {
    background: #A75325;
    border: #A75325;
}

svg {
    fill: none !important;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer__col-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #Fff;
}

.footer__list {
    margin-top: 6px;
}

.footer__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    color: #6A8383;
}