:root {
    --font-Sans: 'Public Sans', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 40px;
    background: #143C3C;
    height: 57px;
    width: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.btn:hover {
    opacity: .9;
}

/* Header layout */
.header {
    position: sticky;
    padding-top: 15px;
    top: -15px;
    background: #fff;
    z-index: 999;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.menu::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 1140px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    position: absolute;
    bottom: 0;
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    padding: 0 19px;
    color: #575D5E;
    transition: .25s;
}
.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 21px;
}

.navbar__link:hover {
    color: #152427;
}


.bars {
    display: none;
    margin-left: 30px;
}

.bars__close {
    display: none;
}


.drawer {
    display: none;
}

.action--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143C3C;
    position: absolute;
    bottom: -28px;
    left: 22px;
}

/* Hero */
.hero__body {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 87px;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px;
    color: #152427;
}

.hero__left {
    width: 404px;
}

.hero__desc {
    font-family: var(--font-Sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
}

.hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}


.action--item {
    position: relative;
}


.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img--active {
    transform: translateY(77px);
}

.hero__video-play {
    display: flex;
    align-items: center;
}

.hero__video-play:hover  .video-play__desc {
    color: #83A17D;
}

.hero__video-play:hover  .video-play__play {
    color: #143C3C;
}


.hero__video-play:hover .video-play__border {
    border-top-color: #83A17D;
    border-left-color: #83A17D;
    transform: rotate(135deg);
}

.video-play__border {
    width: 57px;
    height: 59px;
    border: 4px solid #143C3C;
    transition-duration: .3s;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}

.video-play__desc {
    color: #152427;
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.video-play__play {
    margin-left: 2px;
    margin-top: 5.5px;
    transform: rotate(45deg);
    color: #83A17D;
}

.hero__images {
    display: flex;
    column-gap: 20px;
    padding-bottom: 77px;
    position: relative;
}

.hero__icon-1 {
    position: absolute;
    top: -40px;
    left: -185px;
    z-index: 1;
}

.hero__icon-2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -60px;
    right: 12px;
}

/* Logo section */
.logo {
    margin-top: 42.31px;
}

.logo__list {
    display: grid;
    height: 201px;
    border-radius: 100.5px;
    background: #E2EDDF;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0 121px;
}

.logo__item {
    color: #143C3C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__google {
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__img-rectangle {
    width: 40px;
    height: 46px;
}

.logo__slack {
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__img-discord {
    width: 40px;
    height: 31px;
    margin-right: 11px;
}

.logo__agworld {
    font-size: 2.6rem;
}


.logo__riotinto {
    font-family: Sonsie One;
    font-size: 2.3rem;
}

.logo__img-heroku {
    width: 29px;
    height: 30px;   
    margin-right: 1px;
}

.logo__heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}